[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
dioxus = { workspace = true, features = ["fullstack"] }
sea-orm = { version = "2.0.0-rc", features = ["sqlx-sqlite", "runtime-tokio-native-tls", "macros",
    "with-chrono", "with-json", "schema-sync", "entity-registry"], optional = true}

[features]
server = ["dioxus/server", "dep:sea-orm"]
