:root {
    --bd-gap-and-dash-length: 0.75rem;
    --bd-border-width: 0.15rem;
    --bd-border-color: #fff8;
    --bd-dash-percent: 70%;
    --bd-speed: 10rem;
}

.borderdance {
    background: linear-gradient(90deg, var(--bd-border-color) var(--bd-dash-percent), transparent calc(100% - var(--bd-dash-percent))),
    linear-gradient(90deg, var(--bd-border-color) var(--bd-dash-percent), transparent calc(100% - var(--bd-dash-percent))),
    linear-gradient(0deg, var(--bd-border-color) var(--bd-dash-percent), transparent calc(100% - var(--bd-dash-percent))),
    linear-gradient(0deg, var(--bd-border-color) var(--bd-dash-percent), transparent calc(100% - var(--bd-dash-percent)));
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: var(--bd-gap-and-dash-length) var(--bd-border-width), var(--bd-gap-and-dash-length) var(--bd-border-width), var(--bd-border-width) var(--bd-gap-and-dash-length), var(--bd-border-width) var(--bd-gap-and-dash-length);
    background-position: 0 0, var(--bd-speed) 100%, 0 var(--bd-speed), 100% 0;
    animation: border-dance 10s infinite linear;
}

.highlight.borderdance:not(#dropborder) {
    animation-duration: 0.2s;
}

.borderdance-under {
    background-size: 0, var(--border-dance-big) var(--border-dance-small), 0, 0;
    animation-direction: reverse;
}

@keyframes border-dance {
    0% {}
    100% {
        background-position: var(--bd-speed) 0, 0 100%, 0 0, 100% var(--bd-speed);
    }
}