/*body {*/
/*    padding: 2rem;*/
/*}*/

.invisible-drop-zone {
    position: fixed;
    --border-dist: 0.5rem;
    top: var(--border-dist);
    left: var(--border-dist);
    right: var(--border-dist);
    bottom: var(--border-dist);
    pointer-events: none;
    /*z-index: 9999;*/
}